*{box-sizing: border-box; margin: 0; padding: 0;}

:root{
--background-black: #000;
--background-blue: linear-gradient(90deg, #000, #03051a);
--background-purple: linear-gradient(-57deg, #000, #13021ae3);
--title-black: #000;
--title-white: #fff;
--title-purple: linear-gradient(90deg,#762cff,#c29cff,#762cff);
--title-green:linear-gradient(90deg,#00a993,#94ffa1,#00a993);
--paragraph:#fff;
}

body{background-color: var(--background-black);}
video{width: 100%;}
img{max-width: 100%;}

/******************Fonts******************/

@font-face {font-family: CamphorProForXiaoMi-Regular; src: url(../css/fonts/CamphorProForXiaoMi-Regular.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Bold; font-weight: 700; src: url(../css/fonts/CamphorProForXiaoMi-Bold.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Thin; src: url(../fonts/CamphorProForXiaoMi-Thin.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Heavy; font-weight: 900; src: url(../fonts/CamphorProForXiaoMi-Heavy.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Medium; src: url(../fonts/CamphorProForXiaoMi-Medium.woff) format("woff")}

.f-heavy {font-family: CamphorProForXiaoMi-Heavy, sans-serif; font-weight: 900}
.f-regular {font-family: CamphorProForXiaoMi-Regular, sans-serif}
.f-light {font-family: CamphorProForXiaoMi-Light, sans-serif}
.f-bold {font-family: CamphorProForXiaoMi-Bold, sans-serif; font-weight: 700}
.f-medium {font-family: CamphorProForXiaoMi-Medium, sans-serif}
.f-thin {font-family: CamphorProForXiaoMi-Thin, sans-serif}

.title_xiaomi-buds-4-footer{font-size: 1rem; font-weight: bold; color: var(--title-white); text-align: left;}
.p-xiaomi-buds-4-footer{font-size: 0.7rem; color: var(--paragraph);}

.title_xiaomi-buds4-05{-webkit-text-fill-color: #0000; background: var(--title-purple); -webkit-background-clip: text; 
background-clip: text; color: #fff; font-size: 2rem; text-align: center; z-index: 4;  margin-top: 0.2rem;}
    
.title_xiaomi-buds4-07{-webkit-text-fill-color: #0000; background: var(--title-green); -webkit-background-clip: text; background-clip: text;
color: #fff; font-size: 2rem; text-align: center; margin-top: 1.5rem;}
    
@media screen and (min-width: 1024px){}

@media screen and (min-width: 769px) and (max-width: 1023px) {}

@media screen and (max-width: 768px) {

/******************Grid******************/

.root-buds-xiaomi{
overflow: hidden;
overflow-y: none;
overflow-x: none;
}

.grid-xiaomi {
max-width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 15px;
align-items: stretch;
margin: 1rem;
}

.grid-text-bloco{
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
text-align: center;
margin-top: 3rem;
}

.grid-bloco-01{
max-width: 100%;
width: 19rem;
height: 15rem;
border-radius: 1rem;
background-color: #21293f;
margin: 1rem auto;
}

.grid-bloco{
padding: 1.3rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
}

/******************Layout****************/

.base01{
max-width: 100%;
height: 40rem ;
display: flex;
flex-direction: column; 
background-image: url(../media/Overview_M1080_01.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
}

.base04{
height: 42rem;
background-image: url(../media/Overview_M1080_04.png);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base05{
height: 56rem;
background-image: url(../media/Overview_M1080_03.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}
    
.base06{
height: 48rem;
background-image: url(../media/Overview_M1080_06.png);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}
    
.base07{
height: 63rem;
background-image: url(../media/Overview_M1080_05.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}
    
.base08{
height: 63rem;
background-image: url(../media/Overview_M1080_08.png);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base09{}

.base10{}

.base11{
height: 50rem;
background-image: url(../media/phone09.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
margin-left: -3rem;
}

.base12{
height: 46rem;
background-image: url(../media/buds10.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
margin-left: -19rem;
}

.base13{}

/*.base11{
height: 30rem;
background-image: url(../media/buds11.png);
background-repeat: no-repeat;
background-size: cover;
margin-left: -8rem;
}*/

.base15{
height: 46rem;
background-image: url(../media/Overview_M1080_17.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base17{
background: var(--background-purple);
height: 53.4rem;
}

.footer_xiaomi-buds4{
background: var(--background-blue);
padding: 1rem;
text-align: justify;
text-justify: inter-word;
line-height: 1.5;
}
    
}