*{box-sizing: border-box; margin: 0; padding: 0;}

:root{
    --background-black: #000;
    --background-blue: linear-gradient(90deg, #000, #03051a);
    --title-black: #000;
    --title-white: #fff;
    --title-purple: linear-gradient(90deg,#762cff,#c29cff,#762cff);
    --title-green:linear-gradient(90deg,#00a993,#94ffa1,#00a993);
    --paragraph:#fff;
}

/******************Fonts******************/
@font-face {font-family: CamphorProForXiaoMi-Regular; src: url(../css/fonts/CamphorProForXiaoMi-Regular.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Bold; font-weight: 700; src: url(../css/fonts/CamphorProForXiaoMi-Bold.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Thin; src: url(../fonts/CamphorProForXiaoMi-Thin.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Heavy; font-weight: 900; src: url(../fonts/CamphorProForXiaoMi-Heavy.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Medium; src: url(../fonts/CamphorProForXiaoMi-Medium.woff) format("woff")}

.f-heavy {font-family: CamphorProForXiaoMi-Heavy, sans-serif; font-weight: 900}
.f-regular {font-family: CamphorProForXiaoMi-Regular, sans-serif}
.f-light {font-family: CamphorProForXiaoMi-Light, sans-serif}
.f-bold {font-family: CamphorProForXiaoMi-Bold, sans-serif; font-weight: 700}
.f-medium {font-family: CamphorProForXiaoMi-Medium, sans-serif}
.f-thin {font-family: CamphorProForXiaoMi-Thin, sans-serif}

/******************Grid******************/

/******************Layout****************/

